Repository theforumhelpers/theforumhelpers.github.io, pull requests merged in 2020-12, with the labels that each got.

#28 New curators and 3 curators promoted to manager
  Forum_Helpers/curators.json
  Forum_Helpers/managers.json
Labels: add/change users, approved, high-prio

#33 Updated front page
  index.html
Labels: high-prio, needs-changes

#38 Fixes #30
  Forum_Helpers/curators.json
  Forum_Helpers/managers.json
Labels: approved

#39 awsome_guy_360 user id fixed
  Forum_Helpers/curators.json
Labels: Forum Helpers List, approved

#41 p-p-p-p-p-p-p-p-p-p- and pandacorn_owl added
  Forum_Helpers/curators.json
Labels: Forum Helpers List, approved

#43 added bio for M1mikyu
  Forum_Helpers/curators.json
Labels: Forum Helpers List, approved

#45 Switch from cdn2 to uploads
  Forum_Helpers/FHP.js
Labels: unreviewed

#46 Change File Paths
  forumhelpers/FHP.js
  forumhelpers/curators.json
  forumhelpers/index.html
  forumhelpers/managers.json
  quotes/index.html
  resources/header.html
Labels: unreviewed

#53 Change Issue and PR Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE/ForumHelpersList.md
  .github/PULL_REQUEST_TEMPLATE/GeneralTemplate.md
Labels: approved

#49 Bio Updates
  forumhelpers/curators.json
  forumhelpers/managers.json
Labels: Forum Helpers List, approved
