Repository theforumhelpers/theforumhelpers.github.io, pull requests merged in 2021-06, with the labels that each got.

#208 Add dark mode
  404.html
  forumhelpers/FHP.js
  privacy/index.html
  resources/imports.js
  resources/stylesheet.css
Labels: pr - status: approved

#206 Remove helpedcode
  forumhelpers/curators.json
  forumhelpers/managers.json
  forumhelpers/past.json
Labels: pr - status: approved

#207 Lint styles
  404.html
  contributors/index.html
  forumhelpers/index.html
  index.html
  privacy/index.html
  resources/imports.js
  resources/stylesheet.css
Labels: pr - status: approved

#204 Increase padding for nav-links
  resources/stylesheet.css
Labels: pr - status: changes requested

#230 Contributing Guidelines
  CONTRIBUTING.md
Labels: pr - status: unreviewed

#226 Improve theme switch interface
  404.html
  contributors/index.html
  forumhelpers/index.html
  index.html
  privacy/index.html
  resources/imports.js
  resources/stylesheet.css
  resources/theme.js
Labels: pr - status: changes requested

#234 Update Issue Templates
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/theme_suggestion.md
Labels: pr - status: unreviewed, type: documentation

#241 Fix 404 page styling
  resources/theme.js
Labels: pr - status: approved

#238 Change the search bar color in dark mode
  resources/stylesheet.css
Labels: pr - status: approved

#242 Change Documentation issue template
  .github/ISSUE_TEMPLATE/documentation.md
Labels: pr - status: approved

#253 cursor: pointer;
  resources/stylesheet.css
Labels: pr - status: approved

#249 Update credits page
  contributors/index.html
Labels: pr - status: unreviewed, type: documentation

#243 Add new themes
  resources/stylesheet.css
  resources/theme.js
Labels: pr - status: approved, type: themes

#256 update bios
  forumhelpers/curators.json
  forumhelpers/managers.json
Labels: pr - status: approved, type: Forum Helpers List
