Repository theforumhelpers/theforumhelpers.github.io, pull requests merged in 2021-05, with the labels that each got.

#152 Fix 404 page
  404.html
Labels: pr - status: approved

#153 Add Ocular and ScratchDB
  contributors/index.html
Labels: pr - status: approved, type: documentation

#158 Pull changes from master into the fix header and footer branch
  contributors/index.html
  forumhelpers/index.html
  index.html
  resources/footer.html
  resources/header.html
  resources/imports.js
Labels: unreviewed

#160 Fill empty ocular status
  contributors/index.html
  forumhelpers/FHP.js
Labels: pr - status: approved

#159 Improve Header and Footer
  contributors/index.html
  forumhelpers/index.html
  index.html
  resources/arrow.svg
  resources/expandable.svg
  resources/footer.html
  resources/header.html
  resources/imports.js
  resources/stylesheet.css
Labels: pr - status: approved, type: involved

#162 Make the footer a bit better
  resources/imports.js
  resources/stylesheet.css
Labels: pr - status: changes requested

#173 Delete Actions Labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: pr - status: approved

#175 Update 404 page to have header
  404.html
Labels: pr - status: approved

#181 Disable Icon Drag
  contributors/index.html
  resources/stylesheet.css
Labels: pr - status: approved

#179 Create CODEOWNERS
  .github/CODEOWNERS
Labels: pr - status: approved

#183 Add search bar
  forumhelpers/FHP.js
  forumhelpers/index.html
  resources/stylesheet.css
Labels: pr - status: unreviewed

#185 Add Google Analytics and Privacy Policy
  contributors/index.html
  forumhelpers/index.html
  index.html
  privacy/index.html
  resources/imports.js
  resources/stylesheet.css
Labels: pr - status: approved

#188 Update curators.json
  forumhelpers/curators.json
Labels: pr - status: approved

#193 Update Google Analytics
  404.html
  contributors/index.html
  forumhelpers/index.html
  index.html
  privacy/index.html
Labels: pr - status: unreviewed, type: SECURITY, type: analytics

#194 New bios
  forumhelpers/curators.json
  forumhelpers/managers.json
Labels: pr - status: unreviewed, type: Forum Helpers List
