Repository theforumhelpers/theforumhelpers.github.io, pull requests merged in 2021-04, with the labels that each got.

#117 fix no bio provided and new bio for jeffalo
  forumhelpers/curators.json
  forumhelpers/managers.json
Labels: Forum Helpers List, approved

#120 404 Page
  .gitignore
  404.html
  resources/Taco-wizard.svg
  resources/stylesheet.css
Labels: approved, unreviewed

#122 Add wangat to FH List and promote jeffalo 🎉
  forumhelpers/curators.json
  forumhelpers/managers.json
Labels: Forum Helpers List, approved

#134 Update dogsmakemehappy and -insanitygames- bio
  forumhelpers/curators.json
Labels: Forum Helpers List, approved

#132 Fix margins
  resources/stylesheet.css
Labels: approved

#137 Update Forum Helpers Page JavaScript
  forumhelpers/FHP.js
  forumhelpers/index.html
  forumhelpers/managers.json
  resources/stylesheet.css
Labels: Forum Helpers List, approved

#145 Curator Updates
  forumhelpers/curators.json
  forumhelpers/managers.json
Labels: Forum Helpers List, approved
