Repository theforumhelpers/theforumhelpers.github.io, pull requests merged in 2021-02, with the labels that each got.

#67 Add labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: approved

#66 new curators and update managers
  forumhelpers/curators.json
  forumhelpers/managers.json
  forumhelpers/past.json
Labels: Forum Helpers List, approved

#72 Update Front Page
  index.html
Labels: unreviewed

#71 Fix CSS: Add Additional CSS | Part 3/4 of Fix CSS (#58)
  resources/stylesheet.css
Labels: approved

#73 Fix CSS: Remove Duplicate CSS | Part 4/4 of Fix CSS (#56)
  resources/stylesheet.css
Labels: approved

#77 removed ihatr from curators list
  forumhelpers/curators.json
Labels: Forum Helpers List, approved
