Repository theforumhelpers/theforumhelpers.github.io, pull requests merged in 2022-07, with the labels that each got.

#303 Update Forum Helpers JSON Files
  forumhelpers/curators.json
  forumhelpers/managers.json
  forumhelpers/originalCurators.json
  forumhelpers/originalManagers.json
Labels: type: Forum Helpers List, status: blocked, pr - status: unreviewed, type: dashboard

#327 Integrate List of Forum Helpers with Dashboard
  forumhelpers/FHP.js
Labels: pr - status: approved, type: dashboard

#330 Remove Google Analytics
  404.html
  apply/index.html
  contributors/index.html
  forumhelpers/index.html
  index.html
  privacy/index.html
  resources/imports.js
Labels: pr - status: approved, type: analytics

#331 Update header
  resources/imports.js
Labels: pr - status: unreviewed, type: dashboard

#338 Add new logo
  resources/favicon.png
  resources/icon.png
  resources/oldFavicon.png
  resources/oldIcon.png
Labels: pr - status: approved

#339 placeholder text
  apply/index.html
  forumhelpers/FHP.js
  forumhelpers/index.html
Labels: pr - status: approved

#342 Create dependabot.yml
  .github/dependabot.yml
Labels: pr - status: approved, type: SECURITY
